@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrete.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container py-5">
    <div class="row">

        @await Component.InvokeAsync("ShopNavbarList")
        <div class="col-lg-9">
            <div class="row">
                @foreach (var item in Model)
                {


                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="@item.ImageUrl1">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
@*                                         <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                                    *@
                                        <li><a class="btn btn-success text-white mt-2" href="/Shop/ProductDetail/@item.ProductId/"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="/Shop/AddCart/@item.ProductId/"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none">@item.Name</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>@item.Size</li>

                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    @for (int i = 0; i < item.Rate; i++)
                                    {
                                        
                                        <i class="text-warning fa fa-star" style="margin-right:5px;"></i>
                                    }
                                </ul>
                                <p class="text-center mb-0">@item.Price-TL</p>
                            </div>
                        </div>
                    </div>
                }


            </div>


            @Html.PagedListPager((IPagedList)Model, page => Url.Action("index", new { page }),
            new X.PagedList.Web.Common.PagedListRenderOptions{
                LiElementClasses = new string[] {"page-item"},
                PageClasses = new string[] {"page-link"}
            })
        </div>
    </div>
</div>

